<section class="building-info building-info">
  <div class="container">
    <div class="building-info__box info-box">
      <h2 class="info-box__title section-title">Фундамент</h2>

      <div class="info-box__preview">
        <img src="images/content/building-info/1.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="building-info">
  <div class="container">
    <div class="building-info__box info-box">
      <h2 class="info-box__title section-title">Стиль</h2>

      <div class="info-box__preview">
        <img src="images/content/building-info/1.jpg" alt="">
      </div>
    </div>
</section>

<section class="building-info building-info--two-img">
  <div class="container">
    <div class="building-info__box info-box">
      <h2 class="info-box__title section-title">Стиль</h2>

      <div class="info-box__previews">
        <div class="info-box__preview">
          <img src="images/content/building-info/1.jpg" alt="">
        </div>
        <div class="info-box__preview">
          <img src="images/content/building-info/1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="building-info building-info--two-box">
  <div class="container">
    <div class="building-info__boxes">
      <div class="building-info__box info-box">
        <h2 class="info-box__title section-title">Стиль</h2>

        <div class="info-box__preview">
          <img src="images/content/building-info/1.jpg" alt="">
        </div>
      </div>
      <div class="building-info__box info-box">
        <h2 class="info-box__title section-title">Стиль</h2>

        <div class="info-box__preview">
          <img src="images/content/building-info/1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="building-info">
  <div class="container">
    <div class="building-info__box info-box">
      <h2 class="info-box__title section-title">Стиль</h2>

      <div class="info-box__preview">
        <img src="images/content/building-info/1.jpg" alt="">
      </div>
    </div>
</section>
<section class="building-info">
  <div class="container">
    <div class="building-info__box info-box">
      <h2 class="info-box__title section-title">Стиль</h2>

      <div class="info-box__preview">
        <img src="images/content/building-info/1.jpg" alt="">
      </div>
    </div>
</section>