<section class="building-section">
  <div class="container">
    <div class="building-section__top">
      <h2 class="building-section__title section-title">Вариант ST-56 «Barcelona»</h2>
    </div>

    <div class="building-section__wrapper">
      <div class="building-secton__slider slider-thumbs">
        <div class="slider-thumbs__main swiper ">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <img
                src="https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="Слайд №1">
            </li>
            <li class="swiper-slide">
              <img
                src="https://images.unsplash.com/photo-1493238792000-8113da705763?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="Слайд №2">
            </li>
            <li class="swiper-slide">
              <img
                src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="Слайд №3">
            </li>
            <li class="swiper-slide">
              <img
                src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="Слайд №4">
            </li>
            <li class="swiper-slide">
              <img
                src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="Слайд №5">
            </li>
          </ul>
        </div>

        <div class="slider-thumbs__nav swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide slider-nav__slide">
              <img
                src="https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="Слайд №1">
            </li>
            <li class="swiper-slide slider-nav__slide">
              <img
                src="https://images.unsplash.com/photo-1493238792000-8113da705763?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="Слайд №2">
            </li>
            <li class="swiper-slide slider-nav__slide">
              <img
                src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="Слайд №3">
            </li>
            <li class="swiper-slide slider-nav__slide">
              <img
                src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="Слайд №4">
            </li>
            <li class="swiper-slide slider-nav__slide">
              <img
                src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="Слайд №5">
            </li>
          </ul>
        </div>
      </div>

      <div class="building-section__bottom">
        <div class="building-section__cost-box cost-box">
          <span class="cost-box__title">от 1 000 000 грн</span>
          <p class="cost-box__text">Стоимость строения зависит от комплектации</p>
          <button class="cost-box__btn btn" type="button">Получить точный расчет</button>
        </div>
        <form class="building-section__form form-consultation">
          <h3 class="form-consultation__title">Закажите консультацию, если сомневаетесь</h3>
          <div class="form-consultation__group">

            <label class="form-consultation__label" for="tel">
              <input class="form-consultation__input input-select" id="tel" type="tel" name="phone"
                placeholder="+38 XXX XXX XX XX" required>
            </label>
            <button class="form-consultation__button btn" type="submit">Заказать</button>

            <div class="form-consultation__select">
              <select class="select" name="select-1" id="select">
                <option value="US" data-icon="./images/us.png"></option>
                <option value="FR" data-icon="./images/fr.png"></option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="specifications">
  <div class="container">
    <div class="specifications-box">
      <h2 class="specifications-box__title section-title">
        Характеристика строения:
      </h2>
      <div class="specifications-box__wrapper">
        <ul class="specifications-box__left">
          <li class="specifications-box__spec specifications-box__spec--area">
            <p class="specifications-box__text">20м2</p>
          </li>
          <li class="specifications-box__spec specifications-box__spec--height">
            <p class="specifications-box__text">2 этажа</p>
          </li>
          <li class="specifications-box__spec specifications-box__spec--perimeter">
            <p class="specifications-box__text">4x5м</p>
          </li>
        </ul>

        <div class="specifications-box__right">
          <div class="specifications-box__top">
            <div class="specifications-box__img">
              <img
                src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80"
                alt="Barcelona">
            </div>

            <div class="specifications-box__details">
              <h3 class="specifications-box__name">
                Barcelona
              </h3>

              <div class="specifications-box__detail specifications-box__detail--technology">
                <span>Технологии</span>
                <p>Дом из газоблока и кирпича</p>
              </div>
              <div class="specifications-box__detail specifications-box__detail--term">
                <span>Срок строительства:</span>
                <p>30 дней</p>
              </div>
            </div>
          </div>

          <ul class="specifications-box__list">
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Фундамент</a>
            </li>
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Кровля</a>
            </li>
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Стиль</a>
            </li>
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Фасад</a>
            </li>
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Окна и входные двери</a>
            </li>
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Внутренняя отделка</a>
            </li>
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Окна и входные двери</a>
            </li>
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Процесс работы</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>