<section class="hero">
  <div class="container">

    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide hero__wrapper">
          <div class="hero__offer">
            <h2 class="hero__title">Производим и устанавливаем строения разных видов
              <br> в Украине</h2>
            <div class="hero__text">
              <p>
                Индивидуально под ваш запрос построим дом, ресторан, баню, беседку, мангал или любую
                другую постройку
              </p>
            </div>
            <div class="hero__actions">
              <a class="hero__btn btn" href="#">Перейти в каталог домов</a>
              <a class="btn btn--nobg" href="#">Каталог бань</a>
            </div>
          </div>

          <div class="hero__preview" aria-label="Картинка слайда"></div>
        </li>
        <li class="swiper-slide hero__wrapper">
          <div class="hero__offer">
            <h2 class="hero__title">Производим и устанавливаем строения разных видов
              <br> в Украине</h2>
            <div class="hero__text">
              <p>
                Индивидуально под ваш запрос построим дом, ресторан, баню, беседку, мангал или любую
                другую постройку
              </p>
            </div>
            <div class="hero__actions">
              <a class="hero__btn btn" href="#">Перейти в каталог домов</a>
              <a class="btn btn--nobg" href="#">Каталог бань</a>
            </div>
          </div>

          <div class="hero__preview" aria-label="Картинка слайда"></div>
        </li>
      </ul>
      <div class="navigation">
        <button class="swiper-button-next" type="button" aria-label="Перейти на следующий слайд"></button>
        <button class="swiper-button-prev" type="button" aria-label="Перейти на предыдущий слайд"></button>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>