<section class="hero">
  <div class="container">

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__wrapper">
          <div class="hero__offer">
            <h2 class="hero__title">Производим и устанавливаем строения разных видов
              <br> в Украине</h2>
            <div class="hero__text">
              <p>
                Индивидуально под ваш запрос построим дом, ресторан, баню, беседку, мангал или любую
                другую постройку
              </p>
            </div>
            <div class="hero__actions">
              <button class="hero__btn btn">Перейти в каталог домов</button>
              <button class="btn btn--nobg">Каталог бань</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero__wrapper">
          <div class="hero__offer">
            <h2 class="hero__title">Производим и устанавливаем строения разных видов в Украине</h2>
            <div class="hero__text">
              <p>
                
                Индивидуально под ваш запрос построим дом, ресторан, баню, беседку, мангал или любую
                другую постройку
              </p>
            </div>
            <div class="hero__actions actions">
              <button class="actions__btn btn">Перейти в каталог домов</button>
              <button class="btn btn--nobg">Каталог бань</button>
            </div>
          </div>
        </div>
      </div>
      <div class="navigation">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>