<section class="works">
  <div class="container">
    <div class="works__top">
      <h2 class="works__title section-title">Примеры выполненных работа</h2>
    </div>

    <ul class="works__items">
      <li class="works__item">
        <article class="product-card">
          <div class="product-card__img">
            <img src="images/content/products/p-1.jpg" alt="Жилое">
          </div>
          <div class="product-card__info">
            <span class="product-card__name">Жилое</span>
            <p class="product-card__text">Раздел с домами, дачами, коттеджами, виллами, усадьбами и особняками</p>
            <button class="btn btn--nobg">Ознакомиться с проектами</button>
          </div>
        </article>
      </li>
      <li class="works__item">
        <article class="product-card">
          <div class="product-card__img">
            <img src="images/content/products/p-1.jpg" alt="Жилое">
          </div>
          <div class="product-card__info">
            <span class="product-card__name">Жилое</span>
            <p class="product-card__text">Раздел с домами, дачами, коттеджами, виллами, усадьбами и особняками</p>
            <button class="btn btn--nobg">Ознакомиться с проектами</button>
          </div>
        </article>
      </li>
      <li class="works__item">
        <article class="product-card">
          <div class="product-card__img">
            <img src="images/content/products/p-1.jpg" alt="Жилое">
          </div>
          <div class="product-card__info">
            <span class="product-card__name">Жилое</span>
            <p class="product-card__text">Раздел с домами, дачами, коттеджами, виллами, усадьбами и особняками</p>
            <button class="btn btn--nobg">Ознакомиться с проектами</button>
          </div>
        </article>
      </li>
      <li class="works__item">
        <article class="product-card">
          <div class="product-card__img">
            <img src="images/content/products/p-1.jpg" alt="Жилое">
          </div>
          <div class="product-card__info">
            <span class="product-card__name">Жилое</span>
            <p class="product-card__text">Раздел с домами, дачами, коттеджами, виллами, усадьбами и особняками</p>
            <button class="btn btn--nobg">Ознакомиться с проектами</button>
          </div>
        </article>
      </li>
      <li class="works__item works__item--big">
        <article class="product-card product-card--big">
          <div class="product-card__img">
            <img src="images/content/products/p-1.jpg" alt="Жилое">
          </div>
          <div class="product-card__info">
            <span class="product-card__name">Жилое</span>
            <p class="product-card__text">Раздел с домами, дачами, коттеджами, виллами, усадьбами и особняками</p>
            <button class="btn btn--nobg">Ознакомиться с проектами</button>
          </div>
        </article>
      </li>
      <li class="works__item ">
        <article class="product-card">
          <div class="product-card__img">
            <img src="images/content/products/p-1.jpg" alt="Жилое">
          </div>
          <div class="product-card__info">
            <span class="product-card__name">Жилое</span>
            <p class="product-card__text">Раздел с домами, дачами, коттеджами, виллами, усадьбами и особняками</p>
            <button class="btn btn--nobg">Ознакомиться с проектами</button>
          </div>
        </article>
      </li>
      <li class="works__item">
        <article class="product-card">
          <div class="product-card__img">
            <img src="images/content/products/p-1.jpg" alt="Жилое">
          </div>
          <div class="product-card__info">
            <span class="product-card__name">Жилое</span>
            <p class="product-card__text">Раздел с домами, дачами, коттеджами, виллами, усадьбами и особняками</p>
            <button class="btn btn--nobg">Ознакомиться с проектами</button>
          </div>
        </article>
      </li>
      <li class="works__item">
        <article class="product-card">
          <div class="product-card__img">
            <img src="images/content/products/p-1.jpg" alt="Жилое">
          </div>
          <div class="product-card__info">
            <span class="product-card__name">Жилое</span>
            <p class="product-card__text">Раздел с домами, дачами, коттеджами, виллами, усадьбами и особняками</p>
            <button class="btn btn--nobg">Ознакомиться с проектами</button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>