<section class="production">
  <div class="container">
    <div class="production__wrapper">
      <h2 class="production__title section-title">Из чего состоят наши строения?</h2>

      <ul class="production__items">
        <li class="production__item">
          <article class="project-production project-production--3d">
            <h3 class="project-production__title">Создание <br> 3D-макета</h3>
            <div class="project-production__text">
              <p>Это визуализация строения через экран гаджета. Макет создается индивидуально для клиента. Главная
                задача 3D-визуализации: учесть все детали в разработке и показать конечный вид проекта в оригинальном
                цвете и размере, используя актуальные материалы и наполнение внутри.</p>
            </div>
          </article>
        </li>
        <li class="production__item">
          <article class="project-production project-production--sizes">
            <h3 class="project-production__title">Взятие замеров и <br> создание фундамента.</h3>
            <div class="project-production__text">
              <p>Мы выезжаем на объект, обсуждаем задачу, выявляем потребность клиента и берем замеры. Строим несущую
                конструкцию, которая выдержит нагрузку от здания и погодных условий. Профессионалы используют лазерный
                уровень и качественные материалы, чтобы фундамент получился максимально крепким и ровным.</p>
            </div>
          </article>
        </li>
        <li class="production__item">
          <article class="project-production project-production--constructions">
            <h3 class="project-production__title">Производство <br> конструкции</h3>
            <div class="project-production__text">
              <p>На одном из 4 заводов по всей территории Украины мы производим конструкцию по техническому заданию.
                Задание создается и согласуется с вами через прописанный договор в начале работ.</p>
            </div>
          </article>
        </li>
        <li class="production__item">
          <article class="project-production project-production--mounting">
            <h3 class="project-production__title">Монтажные <br> работы</h3>
            <div class="project-production__text">
              <p>Выполним полный объем работ: от возведения фундамента до устройства кровли. В конечном итоге, можно
                будет сразу использовать строение, а не докупать материал на собственные деньги. Проведем сантехнические
                работы до полной сдачи проекта.</p>
            </div>
          </article>
        </li>
      </ul>

      <div class="production__preview swiper production-slider">
        <ul class="production-slider__wrapper">
          <li class="production-slider__slide">
            <img
              src="https://images.unsplash.com/photo-1577874536010-dd2073a8ab8e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1434&q=80"
              alt="Слайд №1">
          </li>
          <li class="production-slider__slide">
            <img src="images/content/production/slider/1.jpg" alt="Слайд №2">
          </li>
          <li class="production-slider__slide">
            <img src="images/content/production/slider/1.jpg" alt="Слайд №3">
          </li>
          <li class="production-slider__slide">
            <img src="images/content/production/slider/1.jpg" alt="Слайд №4">
          </li>
          <li class="production-slider__slide">
            <img src="images/content/production/slider/1.jpg" alt="Слайд №5">
          </li>
        </ul>
        <div class="navigation">
          <button class="swiper-button-next" type="button" aria-label="Перейти на следующую вкладку"></button>
          <button class="swiper-button-prev" type="button" aria-label="Перейти на предыдущую вкладку"></button>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="production__actions actions">
        <a class="actions__btn btn" href="#">Перейти в каталог домов</a>
        <a class="btn btn--nobg" href="#">Каталог бань</a>
      </div>
    </div>
  </div>
</section>