<!-- <section class="building-section">
  <div class="container">
    <div class="building-section__top">
      <h2 class="building-section__title section-title">Вариант ST-56 «Barcelona»</h2>
    </div>

    <div class="building-section__wrapper">
      <div class="building-secton__slider slider-thumbs">
        <div class="slider-thumbs__main swiper ">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="">
            </div>
            <div class="swiper-slide">
              <img
                src="https://images.unsplash.com/photo-1493238792000-8113da705763?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="">
            </div>
            <div class="swiper-slide">
              <img
                src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="">
            </div>
            <div class="swiper-slide">
              <img
                src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="">
            </div>
            <div class="swiper-slide">
              <img
                src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="">
            </div>
          </div>
        </div>

        <div class="slider-thumbs__nav swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide slider-nav__slide">
              <img
                src="https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="">
            </div>
            <div class="swiper-slide slider-nav__slide">
              <img
                src="https://images.unsplash.com/photo-1493238792000-8113da705763?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="">
            </div>
            <div class="swiper-slide slider-nav__slide">
              <img
                src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="">
            </div>
            <div class="swiper-slide slider-nav__slide">
              <img
                src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="">
            </div>
            <div class="swiper-slide slider-nav__slide">
              <img
                src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="building-section__bottom">
        <div class="building-section__cost-box cost-box">
          <span class="cost-box__title">от 1 000 000 грн</span>
          <p class="cost-box__text">Стоимость строения зависит от комплектации</p>
          <button class="cost-box__btn btn">Получить точный расчет</button>
        </div>
        <form class="building-section__form form-consultation">
          <h3 class="form-consultation__title">Закажите консультацию, если сомневаетесь</h3>
          <div class="form-consultation__group">

            <label class="form-consultation__label" for="">
              <input class="form-consultation__input input-select" type="number" required name="phone"
                placeholder="+38 XXX XXX XX XX">
            </label>

            <button class="form-consultation__button btn">Заказать</button>

            <div class="form-consultation__select">
              <select class="select" name="select-1" id="select">
                <option value="US" data-icon="./images/us.png"></option>
                <option value="FR" data-icon="./images/fr.png"></option>
              </select>
            </div>

          </div>
        </form>
      </div>
    </div>

  </div>
</section> -->

<section class="specifications">
  <div class="container">
    <div class="specifications-box specifications-box--row">
      <h2 class="specifications-box__title section-title">
        Характеристика строения:
      </h2>
      <div class="specifications-box__wrapper">
        <ul class="specifications-box__left">
          <li class="specifications-box__spec specifications-box__spec--area">
            <p class="specifications-box__text">20м2</p>
          </li>
          <li class="specifications-box__spec specifications-box__spec--height">
            <p class="specifications-box__text">2 этажа</p>
          </li>
          <li class="specifications-box__spec specifications-box__spec--perimeter">
            <p class="specifications-box__text">4x5м</p>
          </li>
        </ul>

        <div class="specifications-box__right">
          <div class="specifications-box__top">
            <div class="specifications-box__img">
              <img src="images/content/specifications/1.jpg" alt="Barcelona">
            </div>

            <div class="specifications-box__details">
              <h3 class="specifications-box__name">
                Barcelona
              </h3>
              <div class="wrap">
                <div class="specifications-box__detail specifications-box__detail--technology">
                  <span>Технологии</span>
                  <p>Дом из газоблока и кирпича</p>
                </div>
                <div class="specifications-box__detail specifications-box__detail--term">
                  <span>Срок строительства:</span>
                  <p>30 дней</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="building-info building-info--two-img">
  <div class="container">
    <div class="building-info__box info-box">
      <h2 class="info-box__title section-title">Планировки</h2>

      <div class="info-box__previews">
        <div class="info-box__preview info-box__preview--300">
          <img src="images/content/building-info/1.jpg" alt="Планировка 1">
        </div>
        <div class="info-box__preview info-box__preview--300">
          <img src="images/content/building-info/1.jpg" alt="Планировка 2">
        </div>
      </div>
    </div>
  </div>
</section>