.advantages {
  padding-bottom: 165px;
  background: linear-gradient(to bottom, #FFFBF6 40%, #fff 40%);

  &__wrapper {
    background-color: var(--color-white);
    padding: 56px 30px 50px 60px;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 8px;

    @include breakpointsMaxW($bp-768) {
      padding: 35px;
    }
  }

  &__title {
    margin-bottom: 38px;
  }

  &__items {
    display: grid;
    grid-template-columns: minmax(auto, 171px) minmax(auto, 250px) minmax(auto, 236px) minmax(auto, 261px);
    justify-content: space-between;
    gap: 30px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(2, auto);
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  &__item {
    padding-top: 82px;
    font-size: 15px;
    line-height: 30px;
    position: relative;

    @include breakpointsMaxW($bp-768) {
      max-width: 260px;
      justify-self: center;
      padding-top: 70px;
      line-height: 24px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 62px;
      height: 62px;
      top: 0;
      left: 0;

      @include background();

      @include breakpointsMaxW($bp-768) {
        left: 50%;
        transform: translate(-50%);
        height: 50px;
        width: 50px;
      }
    }

    &--design {
      &::after {
        @include afterIcon(url('../images/content/advantages/1.svg'), 62px, 62px);
      }
    }

    &--development {
      &::after {
        @include afterIcon(url('../images/content/advantages/2.svg'), 62px, 62px);
      }
    }

    &--quality {
      &::after {
        @include afterIcon(url('../images/content/advantages/3.svg'), 62px, 62px);
      }
    }

    &--key {
      &::after {
        @include afterIcon(url('../images/content/advantages/4.svg'), 62px, 62px);
      }
    }
  }

  &__name {
    font-weight: 700;

  }
}