.consultation {

  &:hover {
    .consultation__preview {
      filter: grayscale(0);
    }

    .consultation__button {
      animation: pulse 1s;
    }
  }

  &__wrapper {
    padding: 5px;
    padding-left: 80px;
    background-color: var(--color-bg);

    display: grid;
    grid-template-columns: minmax(auto, 605px) 1fr;
    gap: 60px;
  }

  &__offer {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    max-width: 380px;
    margin-bottom: 24px;
  }

  &__preview {
    max-width: 420px;
    width: 100%;
    height: 300px;
    filter: grayscale(50%);
    transition: 250ms ease;

    @include radius-top-bottom(36px);
    @include backgroundImage(url('../images/content/consultation/1.jpg'), cover);
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;

    a {
      color: var(--color-accent);
    }
  }

  &__form {
    height: 58px;
    margin-bottom: 30px;
    max-width: 605px;
  }


}