.consultation {
  min-height: 330px;

  &:hover {
    .consultation__preview {
      filter: grayscale(0);
    }

    .consultation__button {
      animation: pulse 1s;
    }
  }

  &__wrapper {
    padding: 5px;
    background-color: var(--color-bg);

    display: grid;
    grid-template-columns: 1fr minmax(auto, 420px);
    gap: 60px;

    @include breakpointsMaxW($bp-container) {
      gap: 30px;
      grid-template-columns: 1fr minmax(auto, 350px);
    }

    @include breakpointsMaxW($bp-991) {}

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    max-width: 380px;
    margin-bottom: 24px;
  }

  &__preview {
    width: 100%;
    height: 300px;
    filter: grayscale(50%);
    transition: 250ms ease;

    @include radius-top-bottom(36px);
    @include backgroundImage(url('../images/content/consultation/1.jpg'), cover);

    @include breakpointsMaxW($bp-container) {
      height: calc(200px + (300 - 200) * ((100vw - 320px) / (1225 - 320)));
      align-self: center;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;

    a {
      color: var(--color-accent);
    }
  }

  &__form {
    padding: 55px;
    padding-right: 0;

    @include breakpointsMaxW($bp-991) {
      padding: 15px;
    }

    .form-consultation__group {
      @include breakpointsMaxW($bp-991) {
        flex-direction: column;
      }
    }

    .form-consultation__button {
      @include breakpointsMaxW($bp-991) {
        width: 100%;
      }
    }

    .form-consultation__input {
      @include breakpointsMaxW($bp-991) {
        width: 100%;
      }
    }

    .form-consultation__label {
      @include breakpointsMaxW($bp-991) {
        margin-bottom: 10px;
      }
    }


  }
}