.develop {
  width: 100%;

  &__wrapper {
    display: flex;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 0px 40px 0px 0px;
    padding: 5px;
  }

  &__offer {
    padding: 49px 42px 49px 53px;
  }

  &__title {
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 14px;
  }

  &__text {
    max-width: 316px;
    margin-bottom: 26px;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
  }

  &__btn {
    padding: 26px 63px;
    font-size: 16px;
  }
}