.filter-box {
  &--sort {
    .filter-box__link {
      @include arrow-up();
    }
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &__top {
    padding: 24px 20px 20px;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 24px;
  }

  &__title,
  &__subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__drop {
    max-width: 86%;
    padding-left: 20px;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }


  &__item {

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  &__link {
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    display: block;
    padding-left: 20px;

    @include chevron-on-left();

  }
}