.header {
  padding: 38px 0;
  background-color: var(--color-bg);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  @include breakpointsMaxW($bp-container) {
    padding: 20px 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

    @include breakpointsMaxW($bp-container) {
      justify-content: space-between;
      height: 55px;
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  &__logo {
    margin-right: 34px;
    max-width: 536px;
    width: 100%;
    height: 36px;
    margin: 0 auto;

    @include breakpointsMaxW($bp-container) {
      height: calc(20px + (36 - 20) * ((100vw - 320px) / (1225 - 320)));
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__socials {
    max-width: 140px;
    width: 100%;
    margin-right: 40px;

    @include breakpointsMaxW($bp-container) {
      display: none;
    }
  }

  &__phone {
    margin-right: 25px;
    max-width: 363px;
    width: 100%;

    @include breakpointsMaxW($bp-container) {
      margin-left: auto;
      display: none !important;
    }

  }

  &__select {
    width: 33px;

    @include breakpointsMaxW($bp-container) {
      display: none;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: minmax(auto, 620px) minmax(auto, 1fr);
    gap: 80px;
    min-height: 72px;
    z-index: 100;

    @include breakpointsMaxW($bp-container) {
      grid-template-columns: 1fr;
      gap: 0;

      display: flex;
      flex-direction: column;

      position: absolute;
      width: calc(100% - 20px);
      background-color: var(--color-bg);
      top: 0;
      min-height: 100vh;
      height: 100%;
      transform: translateY(-100%);
      transition: 800ms ease;
      padding-bottom: 20px;

      overflow: auto;

      &.active {
        transform: translateY(0);
      }
    }

    @include breakpointsMaxW($bp-768) {}
  }

  &__bottom-top {
    display: none;

    @include breakpointsMaxW($bp-container) {
      display: block;
      padding: 18px 15px;
      height: 65px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__bottom-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }

      .header__bottom-close {
        width: 16px;
        height: 16px;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &__left {
    .menu-box__drop {
      opacity: 0;
      max-height: 0;
    }

    @include breakpointsMaxW($bp-container) {}
  }

  &__phone-icon {
    display: none;

    @include breakpointsMaxW($bp-container) {
      display: block;
    }
  }

  .menu-box__top {
    margin-bottom: 0;
  }

  .submenu {
    justify-content: space-between;

    @include breakpointsMaxW($bp-container) {
      justify-content: flex-start;
    }
  }

  .toggle-menu {
    display: none;

    @include breakpointsMaxW($bp-container) {
      display: block;
      z-index: 100;
      flex-shrink: 0;
      width: 25px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 150ms ease-in;

      .toggle__line {
        border-radius: 2px;
        width: 100%;
        height: 2px;
        background-color: var(--color-accent);
        position: relative;
        transition: 300ms ease-in;

        &::after,
        &::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-color: var(--color-accent);
          transition: 300ms ease-in;
          border-radius: 2px;
        }

        &::after {
          top: -8px;
        }

        &::before {
          bottom: -8px;
        }
      }

      &:hover {
        transform: scale(1.05);
      }

      &.active {
        span {
          background-color: transparent;

          &::after {
            transform: translateX(-50%) rotate(45deg);
            top: 0px;
          }

          &::before {
            bottom: 0px;
            transform: translateX(-50%) rotate(-45deg);
          }
        }
      }
    }
  }

  &__phone-icon {
    width: 25px;
    height: 20px;
    background-color: var(--color-accent);
  }

  .phone-box {
    display: flex;
    align-items: center;

    &__phone {
      max-width: 180px;
      width: 100%;
      margin-right: 27px;
      text-align: center;

      a {
        display: block;
        margin-bottom: 7px;
        font-size: 19px;
        line-height: 1;
        font-weight: 700;
      }

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.08em;
      }
    }

    &__button {
      text-align: center;

      span {
        font-weight: 400;
      }
    }

    &__btn {
      margin-bottom: 7px;
      width: 160px;
    }
  }
}

.header__phone--mobile {
  display: none !important;

  @include breakpointsMaxW($bp-container) {
    display: flex !important;
    flex-direction: column;
    margin: auto;

    margin: 0 auto;

    .phone-box__phone {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

.header__socials--mobile {
  display: none;

  @include breakpointsMaxW($bp-container) {
    display: block;
    margin: 22px auto 22px;

    .socials__list {
      justify-content: center;
    }
  }
}