.hero {
  background-color: var(--color-bg);
  padding-bottom: 60px;

  .swiper-wrapper {
    min-width: 0;
  }

  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(auto, 550px) minmax(auto, 1fr);
    gap: 5px;

    position: relative;

    @include breakpointsMaxW($bp-container) {
      align-items: center;
      // grid-template-columns: minmax(auto, 500px) minmax(auto, 1fr);
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__preview {
    max-width: 615px;
    width: 100%;
    height: 505px;

    @include breakpointsMaxW($bp-container) {
      height: calc(246px + (505 - 246) * ((100vw - 320px) / (1225 - 320)));
      width: calc(300px + (615 - 300) * ((100vw - 320px) / (1225 - 320)));
    }

    @include breakpointsMaxW($bp-991) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 19%;
    }
  }

  .swiper-slide {
    width: 100%;
    height: 100%;

    img {
      @include img();
      object-fit: contain;
    }
  }

  &__offer {
    padding-top: 120px;
    padding-bottom: 155px;

    @include breakpointsMaxW($bp-991) {
      padding: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      height: calc(572px + (950 - 572) * ((100vw - 320px) / (1225 - 320)));
    }
  }

  &__title {
    font-weight: 800;
    font-size: 38px;
    line-height: 50px;
    max-width: 550px;
    margin-bottom: 11px;

    font-size: calc(24px + (38 - 24) * ((100vw - 320px) / (1225 - 320)));
    line-height: calc(30px + (50 - 30) * ((100vw - 320px) / (1225 - 320)));

    @include breakpointsMaxW($bp-991) {
      text-align: center;
      max-width: 100%;
    }

    @include breakpointsMinW($bp-container) {
      font-size: 38px;
      line-height: 50px;
    }
  }

  &__text {
    margin-bottom: 28px;
    max-width: 502px;
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1225 - 320)));
    line-height: calc(24px + (40 - 24) * ((100vw - 320px) / (1225 - 320)));

    @include breakpointsMaxW($bp-991) {
      text-align: center;
      max-width: 100%;
      margin-top: auto;
    }

    @include breakpointsMaxW($bp-420) {
      font-size: 15px;
    }

    @include breakpointsMinW($bp-container) {
      font-size: 18px;
      line-height: 30px;
    }
  }

  &__actions {
    @include breakpointsMaxW($bp-991) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include breakpointsMaxW($bp-768) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__btn {
    margin-right: 30px;

    @include breakpointsMaxW($bp-768) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  .navigation {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 120px;
    color: var(--color-white);
    display: flex;
    height: 40px;

    .swiper-button-next {
      z-index: 100;

      &::after {
        content: '';
        background-image: url('../images/icons/arrow-right.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 17px;
        height: 5px;
      }
    }

    .swiper-button-prev {
      z-index: 100;

      &::after {
        content: '';
        background-image: url('../images/icons/arrow-left.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 17px;
        height: 5px;
      }
    }
  }
}