.main-menu {
  max-width: 620px;

  @include breakpointsMaxW($bp-container) {
    max-width: 100%;
  }

  &__list {
    display: flex;
    border-radius: 8px;
    overflow: hidden;

    @include breakpointsMaxW($bp-container) {
      flex-direction: column;
    }
  }

  &__item {
    width: auto;
  }
}

.menu-box {
  transition: 300ms;

  @include breakpointsMaxW($bp-container) {
    &:not(:last-child) {
      // margin-bottom: 15px;
    }
  }

  &.active {
    .menu-box__drop {
      opacity: 1;
      max-height: 100px;
    }

    .menu-box__top {
      border-bottom-color: transparent;

      &::after,
      &::before {
        transform: translateY(-50%) rotate(270deg);
      }
    }
  }

  &__top {
    display: block;
    padding: 25px 62px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.45;
    letter-spacing: 0.08em;
    color: var(--color-white);
    background-color: #3D1E19;
    box-shadow: 0px 0px 20px rgba(43, 42, 40, 0.1);
    margin-bottom: 40px;
    position: relative;

    @include breakpointsMaxW($bp-container) {
      width: 100%;
      background-color: transparent;
      box-shadow: none;
      border-top: 1px solid var(--color-border);
      color: var(--color-dark);
      margin-bottom: 0;
    }

    &::after {
      @include pseudoElDefault();
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 1px;
      height: 100%;
      background-color: var(--color-white);
    }

    @include breakpointsMaxW($bp-container) {

      &::before {
        @include pseudoElDefault();
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }

      &::after {
        right: initial;
        left: 0;
      }

      &::after,
      &::before {
        transition: 200ms ease;
        height: 11px;
        width: 11px;
        @include backgroundImage(url('../images/icons/chevron.svg'), cover);
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }

  &__drop {
    will-change: max-height;
    transition: 300ms ease-in;

    @include breakpointsMaxW($bp-container) {
      text-align: center;
      margin: 0 auto;

      max-height: 0;
      overflow: hidden;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
  }

  &--living {
    .menu-box__drop {
      max-width: 185px;
    }
  }

  &--commercial {
    .menu-box__drop {
      max-width: 140px;
      margin: 0 auto;
    }
  }

  &--garden {
    .menu-box__drop {
      max-width: 195px;
    }
  }
}

.top {}

.submenu {
  display: flex;
  align-items: center;

  @include breakpointsMaxW($bp-container) {
    flex-direction: column;
    width: 100%;
  }

  &__item {
    text-align: center;

    @include breakpointsMaxW($bp-container) {
      &:not(:last-child) {
        margin-right: 0;
      }

      width: 100%;
    }
  }

  &__link {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.45;
    letter-spacing: 0.08em;
    color: var(--color-dark);
    position: relative;

    @include breakpointsMaxW($bp-container) {
      padding: 25px 62px;
      color: var(--color-white);
      background-color: #3D1E19;
      width: 100%;
      background-color: transparent;
      box-shadow: none;
      border-top: 1px solid var(--color-border);
      color: var(--color-dark);
      margin-bottom: 0;

      &:last-child {
        border-bottom: 1px solid var(--color-border);
      }
    }
  }
}