.requisites {
  background-color: var(--color-bg);
  padding-top: 145px;
  padding-bottom: 145px;

  &__title {
    margin-bottom: 26px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include breakpointsMaxW($bp-container) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    max-width: 370px;
    width: 100%;
    background-color: var(--color-white);
    height: 160px;
    padding-right: 20px;
    position: relative;
    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 125px;

    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 8px;

    @include breakpointsMaxW($bp-768) {
      padding-top: 26px;
      padding-left: 90px;
      padding-bottom: 26px;
      padding-right: 22px;
    }

    &::after {
      @include pseudoElDefault();
      width: 62px;
      height: 62px;

      // @include maskImage(url('../images/sprite.svg#name'), contain);
      @include backgroundImage(url('../images/icons/name.svg'), contain);

      // @include backgroundImage(url('../images/icons/name.svg'), contain);

      background-color: var(--color-accent);

      top: 51%;
      left: 15px;
      transform: translateY(-50%);
      border-radius: 50%;

      @include breakpointsMaxW($bp-768) {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;

    @include breakpointsMaxW($bp-768) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
}