.socials {
  &__text {
    margin-bottom: 4px;
    letter-spacing: 0.08em;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &__link {
    display: block;
    width: 26px;
    height: 26px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 100%;
    }

    &--tg {
      &::after {
        background: url('../images/icons/telegram.svg') no-repeat center/contain;
      }
    }

    &--wp {
      &::after {
        background: url('../images/icons/whatsapp.svg') no-repeat center/contain;
      }
    }

    &--vb {
      &::after {
        background: url('../images/icons/viber.svg') no-repeat center/contain;
      }
    }
  }
}