.specifications-box {
  padding: 40px 50px 50px 60px;
  // box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
  box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.6);
  border-radius: 8px;
  background-color: var(--color-white);

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 620px);
    gap: 27px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__spec {
    padding-top: 44px;
    padding-bottom: 40px;
    padding-left: 99px;
    position: relative;
    border-top: 1px solid #E7D8C7;

    &:last-child {
      border-bottom: 1px solid #E7D8C7;
    }

    &::after {
      position: absolute;
      content: '';
      width: 70px;
      height: 70px;
      // bottom: 0;
      top: 50%;
      transform: translateY(-50%);
      left: 3px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &--area {
      &::after {
        background-image: url('../images/icons/area.svg');
      }
    }

    &--height {
      &::after {
        background-image: url('../images/icons/area.svg');
      }
    }

    &--perimeter {
      &::after {
        background-image: url('../images/icons/area.svg');
      }
    }
  }

  &__text {
    font-size: 24px;
    line-height: 36px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__name {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 12px;
  }

  &__img {
    margin-right: 30px;
  }

  &__detail {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    position: relative;

    padding-left: 41px;
    font-size: 16px;
    line-height: 22px;

    span {
      font-weight: 300;
    }

    p {
      font-weight: 700;
    }

    &::after {
      position: absolute;
      content: '';
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      left: 0;
      top: 0;
    }

    &--technology {

      &::after {
        background-image: url('../images/icons/technology.svg');
      }
    }

    &--term {
      &::after {
        background-image: url('../images/icons/term.svg');
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: minmax(auto, 250px) minmax(auto, 250px);
    column-gap: 50px;
  }

  &__link {
    display: block;
    padding-left: 20px;
    @include chevron-on-left();
  }

  &--row {
    .specifications-box__wrapper {
      grid-template-columns: 1fr;
    }

    .specifications-box__left {
      order: 1;
      display: flex;
      justify-content: space-between;
    }

    .specifications-box__spec {
      border-top: none;
      border-bottom: none;
    }

    .specifications-box__details {
      display: flex;
    }
  }
}