<section class="articles">
  <div class="container">
    <div class="articles__wrapper">
      <div class="articles__top">
        <h2 class="articles__title section-title">Последние статьи</h2>
        <div class="articles__arrows swiper-navigation">
          <button class="articles__arrow articles__arrow--prev arrow-prev" type="button" id="swiperPrev"
            aria-label="Предыдущий слайд">
            <svg>
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </button>
          <button class="articles__arrow articles__arrow--next arrow-next" id="swiperNext" type="button"
            aria-label="Следующий слайд">
            <svg>
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="articles__slider swiper">
        <ul class="articles__slides swiper-wrapper">
          <li class="articles__slide swiper-slide">
            <article class="article">
              <div class="article__badge">
                Архитектура
              </div>

              <div class="article__img">
                <img
                  src="images/content/articles/1.jpg"
                  alt="Загородный дом или самостоятельное строительство?">
              </div>

              <h3 class="article__name">Готовый загородный дом или самостоятельное строительство?</h3>
              <p class="article__text">Купить или построить дом с нуля – неизбежный вопрос, когда возникает желание
                приобрести
                частную
                недвижимость за городом. </p>
            </article>
          </li>
          <li class="articles__slide swiper-slide">
            <article class="article">
              <div class="article__badge">
                Архитектура
              </div>

              <div class="article__img">
                <img src="images/content/articles/1.jpg"
                  alt="Готовый загородный дом или самостоятельное строительство?<">
              </div>

              <h3 class="article__name">Готовый загородный дом или самостоятельное строительство?</h3>
              <p class="article__text">Купить или построить дом с нуля – неизбежный вопрос, когда возникает желание
                приобрести
                частную
                недвижимость за городом. </p>
            </article>
          </li>
          <li class="articles__slide swiper-slide">
            <article class="article">
              <div class="article__badge">
                Архитектура
              </div>

              <div class="article__img">
                <img src="images/content/articles/1.jpg"
                  alt="Готовый загородный дом или самостоятельное строительство?<">
              </div>

              <h3 class="article__name">Готовый загородный дом или самостоятельное строительство?</h3>
              <p class="article__text">Купить или построить дом с нуля – неизбежный вопрос, когда возникает желание
                приобрести
                частную
                недвижимость за городом. </p>
            </article>
          </li>
          <li class="articles__slide swiper-slide">
            <article class="article">
              <div class="article__badge">
                Архитектура
              </div>

              <div class="article__img">
                <img src="images/content/articles/1.jpg"
                  alt="Готовый загородный дом или самостоятельное строительство?<">
              </div>

              <h3 class="article__name">Готовый загородный дом или самостоятельное строительство?</h3>
              <p class="article__text">Купить или построить дом с нуля – неизбежный вопрос, когда возникает желание
                приобрести
                частную
                недвижимость за городом. </p>
            </article>
          </li>
          <li class="articles__slide swiper-slide">
            <article class="article">
              <div class="article__badge">
                Архитектура
              </div>

              <div class="article__img">
                <img src="images/content/articles/1.jpg"
                  alt="Готовый загородный дом или самостоятельное строительство?<">
              </div>

              <h3 class="article__name">Готовый загородный дом или самостоятельное строительство?</h3>
              <p class="article__text">Купить или построить дом с нуля – неизбежный вопрос, когда возникает желание
                приобрести
                частную
                недвижимость за городом. </p>
            </article>
          </li>
          <li class="articles__slide swiper-slide">
            <article class="article">
              <div class="article__badge">
                Архитектура
              </div>

              <div class="article__img">
                <img src="images/content/articles/1.jpg"
                  alt="Готовый загородный дом или самостоятельное строительство?<">
              </div>

              <h3 class="article__name">Готовый загородный дом или самостоятельное строительство?</h3>
              <p class="article__text">Купить или построить дом с нуля – неизбежный вопрос, когда возникает желание
                приобрести
                частную
                недвижимость за городом. </p>
            </article>
          </li>
        </ul>
        <!-- <div class="navigation">
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div> -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>