<section class="building-section">
  <div class="container">
    <div class="building-section__top">
      <h2 class="building-section__title section-title">Вариант ST-56 «Barcelona»</h2>
    </div>

    <div class="building-section__wrapper">
      <div class="building-secton__slider slider-thumbs">
        <div class="slider-thumbs__main swiper ">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <img
                src="images/content/building-slider/big-1.jpg"
                alt="Слайд №1">
            </li>
            <li class="swiper-slide">
              <img
                src="images/content/building-slider/big-1.jpg"
                alt="Слайд №2">
            </li>
            <li class="swiper-slide">
              <img
                src="images/content/building-slider/big-1.jpg"
                alt="Слайд №3">
            </li>
            <li class="swiper-slide">
              <img
                src="images/content/building-slider/big-1.jpg"
                alt="Слайд №4">
            </li>
            <li class="swiper-slide">
              <img
                src="images/content/building-slider/big-1.jpg"
                alt="Слайд №5">
            </li>
          </ul>
        </div>

        <div class="slider-thumbs__nav swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide slider-nav__slide">
              <img src="images/content/building-slider/small-1.jpg" alt="Слайд №1">
            </li>
            <li class="swiper-slide slider-nav__slide">
              <img
                src="images/content/building-slider/small-1.jpg"
                alt="Слайд №2">
            </li>
            <li class="swiper-slide slider-nav__slide">
              <img
                src="images/content/building-slider/small-1.jpg"
                alt="Слайд №3">
            </li>
            <li class="swiper-slide slider-nav__slide">
              <img
                src="images/content/building-slider/small-1.jpg"
                alt="Слайд №4">
            </li>
            <li class="swiper-slide slider-nav__slide">
              <img
                src="images/content/building-slider/small-1.jpg"
                alt="Слайд №5">
            </li>
          </ul>
        </div>
      </div>

      <div class="building-section__bottom">
        <div class="building-section__cost-box cost-box">
          <span class="cost-box__title">от 1 000 000 грн</span>
          <p class="cost-box__text">Стоимость строения зависит от комплектации</p>
          <button class="cost-box__btn btn">Получить точный расчет</button>
        </div>
        <form class="building-section__form form-consultation">
          <h3 class="form-consultation__title">Закажите консультацию, если сомневаетесь</h3>
          <div class="form-consultation__group">

            <label class="form-consultation__label" for="tel">
              <input class="form-consultation__input input-select" id="tel" type="tel" name="phone"
                placeholder="+38 XXX XXX XX XX" required>
            </label>

            <button class="form-consultation__button btn" type="button">Заказать</button>

            <div class="form-consultation__select">
              <select class="select" name="select-1" id="select">
                <option value="US" data-icon="./images/us.png"></option>
                <option value="FR" data-icon="./images/fr.png"></option>
              </select>
            </div>

          </div>
        </form>
      </div>
    </div>

  </div>
</section>

<section class="specifications">
  <div class="container">
    <div class="specifications-box">
      <h2 class="specifications-box__title section-title">
        Характеристика строения:
      </h2>
      <div class="specifications-box__wrapper">
        <ul class="specifications-box__left">
          <li class="specifications-box__spec specifications-box__spec--area">
            <p class="specifications-box__text">20м2</p>
          </li>
          <li class="specifications-box__spec specifications-box__spec--height">
            <p class="specifications-box__text">2 этажа</p>
          </li>
          <li class="specifications-box__spec specifications-box__spec--perimeter">
            <p class="specifications-box__text">4x5м</p>
          </li>
        </ul>

        <div class="specifications-box__right">
          <div class="specifications-box__top">
            <div class="specifications-box__img">
              <img
                src="images/content/specifications/1.jpg"
                alt="Барселона">
            </div>

            <div class="specifications-box__details">
              <h3 class="specifications-box__name">
                Barcelona
              </h3>

              <div class="specifications-box__detail specifications-box__detail--technology">
                <span>Технологии</span>
                <p>Дом из газоблока и кирпича</p>
              </div>
              <div class="specifications-box__detail specifications-box__detail--term">
                <span>Срок строительства:</span>
                <p>30 дней</p>
              </div>
            </div>
          </div>

          <ul class="specifications-box__list">
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Фундамент</a>
            </li>
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Кровля</a>
            </li>
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Стиль</a>
            </li>
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Фасад</a>
            </li>
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Окна и входные двери</a>
            </li>
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Внутренняя отделка</a>
            </li>
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Окна и входные двери</a>
            </li>
            <li class="specifications-box__item">
              <a class="specifications-box__link" href="#">Процесс работы</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="building-info">
  <div class="container">
    <div class="building-info__box info-box">
      <h2 class="info-box__title section-title">Фундамент</h2>

      <div class="info-box__preview">
        <img
          src="images/content/building-info/1.jpg"
          alt="Фундамент">
      </div>
    </div>
  </div>
</section>

<section class="building-info">
  <div class="container">
    <div class="building-info__box info-box">
      <h2 class="info-box__title section-title">Стиль</h2>

      <div class="info-box__preview">
        <img
          src="images/content/building-info/1.jpg"
          alt="Стиль">
      </div>
    </div>
</section>

<section class="building-info building-info--two-img">
  <div class="container">
    <div class="building-info__box info-box">
      <h2 class="info-box__title section-title">Окна и входные двери</h2>

      <div class="info-box__previews">
        <div class="info-box__preview">
          <img src="images/content/building-info/1.jpg" alt="Окна и входные двери">
        </div>
        <div class="info-box__preview">
          <img src="images/content/building-info/1.jpg" alt="Окна и входные двери">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="building-info building-info--two-box">
  <div class="container">
    <div class="building-info__boxes">
      <div class="building-info__box info-box">
        <h2 class="info-box__title section-title">Внутренняя отделка</h2>

        <div class="info-box__preview">
          <img src="images/content/building-info/1.jpg" alt="Внутренняя отделка">
        </div>
      </div>
      <div class="building-info__box info-box">
        <h2 class="info-box__title section-title">Фасад</h2>

        <div class="info-box__preview">
          <img src="images/content/building-info/1.jpg" alt="Внутренняя отделка">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="building-info">
  <div class="container">
    <div class="building-info__box info-box">
      <h2 class="info-box__title section-title">Кровля</h2>

      <div class="info-box__preview">
        <img src="images/content/building-info/1.jpg" alt="Внутренняя отделка">
      </div>
    </div>
</section>

<section class="building-info">
  <div class="container">
    <div class="building-info__box info-box">
      <h2 class="info-box__title section-title">Электросеть</h2>

      <div class="info-box__preview">
        <img src="images/content/building-info/1.jpg" alt="Внутренняя отделка">
      </div>
    </div>
</section>