<section class="consultation">
  <div class="container">
    <div class="consultation__wrapper">
      <form class="consultation__form form-consultation">
        <h3 class="form-consultation__title">Закажите консультацию, если сомневаетесь</h3>
        <div class="form-consultation__group">

          <label class="form-consultation__label" for="">
            <input class="form-consultation__input input-select" type="number" required name="phone"
              placeholder="+38 XXX XXX XX XX">
          </label>

          <button class="form-consultation__button btn">Заказать</button>

          <div class="form-consultation__select">
            <select class="select" name="select-1" id="select">
              <option value="US" data-icon="./images/us.png"></option>
              <option value="FR" data-icon="./images/fr.png"></option>
            </select>
          </div>

        </div>
        <div class="form-consultation__agreement">
          Отправляя данные, Вы соглашаетесь на обработку <a href="#">персональных данных</a>
        </div>
      </form>

      <div class="consultation__preview"></div>
    </div>


  </div>
</section>