<section class="work-process">
  <div class="container">
    <h2 class="work-process__title section-title">Процесс работы</h2>

    <div class="work-process__wrapper">
      <div class="process-box">
        <div class="process-box__cursor">
          <div class="process-box__name">Процесс 1</div>
          <p>Общение с экспертом</p>
        </div>
        <ul class="process-box__list">
          <li class="process-box__item">
            <p class="process-box__text">Ваше знакомство
              с представителем компании.</p>
          </li>
          <li class="process-box__item">
            <p class="process-box__text">Ваше знакомство
              с представителем компании.</p>
          </li>
          <li class="process-box__item">
            <p class="process-box__text">Ваше знакомство
              с представителем компании.</p>
          </li>
        </ul>
      </div>
      <div class="process-box">
        <div class="process-box__cursor">
          <div class="process-box__name">Процесс 1</div>
          <p>Общение с экспертом</p>
        </div>
        <ul class="process-box__list">
          <li class="process-box__item">
            <p class="process-box__text">Ваше знакомство
              с представителем компании.</p>
          </li>
          <li class="process-box__item">
            <p class="process-box__text">Ваше знакомство
              с представителем компании.</p>
          </li>
          <li class="process-box__item">
            <p class="process-box__text">Ваше знакомство
              с представителем компании.</p>
          </li>
        </ul>
      </div>
      <div class="process-box">
        <div class="process-box__cursor">
          <div class="process-box__name">Процесс 1</div>
          <p>Общение с экспертом</p>
        </div>
        <ul class="process-box__list">
          <li class="process-box__item">
            <p class="process-box__text">Ваше знакомство
              с представителем компании.</p>
          </li>
          <li class="process-box__item">
            <p class="process-box__text">Ваше знакомство
              с представителем компании.</p>
          </li>
          <li class="process-box__item">
            <p class="process-box__text">Ваше знакомство
              с представителем компании.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>